/*
==============================
Colori Personalizzati Obsidian
==============================
*/

/* ======= Titoli H1-H6 ======= */
.markdown-rendered h1, .cm-header.cm-header-1 { color: #f06a52; }
.markdown-rendered h2, .cm-header.cm-header-2 { color: #fc9106; }
.markdown-rendered h3, .cm-header.cm-header-3 { color: #fffc3c; }
.markdown-rendered h4, .cm-header.cm-header-4 { color: #35ca18; }
.markdown-rendered h5, .cm-header.cm-header-5 { color: #11ece1; }
.markdown-rendered h6, .cm-header.cm-header-6 { color: #2744e7; }

/* ======= Formattazione Testo ======= */
.markdown-rendered em, .cm-em {
  color: #b11a60; /* Corsivo */
}

/* ======= Colori Link ======= */


/*
==============================
Colori Personalizzati Link
==============================
*/

body {
  /* --- LINK INTERNI --- */
  /* Imposta i link interni al colore #94f1e7 */
  --link-color: #94f1e7;
  
  /* Imposta l'hover allo STESSO colore */
  --link-color-hover: #94f1e7;

  /* --- LINK ESTERNI --- */
  /* Imposta i link esterni al colore #ec82ec */
  --link-external-color: #ec82ec;
  
  /* Imposta l'hover allo STESSO colore */
  --link-external-color-hover: #ec82ec;
}