:root {
  --h1-color: #f06a52;
  --h2-color: #fc9106;
  --h3-color: #fffc3c;
  --h4-color: #35ca18;
  --h5-color: #11ece1;
  --h6-color: #2744e7;
  --internal-link-color: #94f1e7;
  --external-link-color: #B838B3;
  --bold-color: #B4BEFE;
  --accent-color: var(--interactive-accent); /* oppure definisci un nuovo colore */
}

/*
=================================
Colori Personalizzati Titoli Obsidian
=================================
*/
/* --- Colori per le Intestazioni (h1-h6) nel corpo della nota --- */

/* Colore per H1 */
.cm-header.cm-header-1 {
  color: #f06a52; /* Esempio: Tomato */
}

/* Colore per H2 */
.cm-header.cm-header-2 {
  color: #fc9106; /* Esempio: Gold */
}

/* Colore per H3 */
.cm-header.cm-header-3 {
  color: #fffc3c; /* Esempio: PaleGreen */
}

/* Colore per H4 */
.cm-header.cm-header-4 {
  color: #35ca18; /* Esempio: SkyBlue */
}

/* Colore per H5 */
.cm-header.cm-header-5 {
  color: #11ece1; /* Esempio: Plum */
}

/* Colore per H6 */
.cm-header.cm-header-6 {
  color: #2744e7; /* Esempio: LightSteelBlue */
}



/* --- Grassetto (Bold) --- 
.cm-strong {
  color: #1288ac; /* Esempio: LightSalmon, un arancione chiaro 
}
*/

/* --- Corsivo (Italic) --- */
/* Si applica a *testo* o _testo_ */
.markdown-rendered em,
.cm-em {
  color: var(--interactive-accent); /* Esempio: PaleTurquoise, un azzurro-verde */
}


/* --- Blocco di Citazione (Blockquote) --- */
/* Si applica a > testo */
.markdown-rendered blockquote,
.cm-quote {
  color: var(--interactive-accent); /* Colore del TESTO dentro la citazione */
  border-left-color: var(--interactive-accent); /* Colore della BARRA a sinistra della citazione */
}

/* Internal links */
/* change colour in Preview */
a.internal-link {
  color: #94f1e7  !important;
}