/* === TITOLI === */
:root {
  --h1-color: #f06a52;
  --h2-color: #fc9106;
  --h3-color: #fffc3c;
  --h4-color: #35ca18;
  --h5-color: #11ece1;
  --h6-color: #2744e7;
  --internal-link-color: #94f1e7;
  --external-link-color: #B838B3;
  --bold-color: #B4BEFE;
  --accent-color: var(--interactive-accent); /* oppure definisci un nuovo colore */
}

.markdown-reading-view h1 {
  color: #f06a52; /* Esempio: Tomato */
}

.markdown-reading-view h2 {
  color: #fc9106; /* Esempio: Gold */
}

.markdown-reading-view h3 {
  color: #fffc3c; /* Esempio: PaleGreen */
}

.markdown-reading-view h4 {
  color: #35ca18; /* Esempio: SkyBlue */
}

.markdown-reading-view h5 {
  color: #11ece1; /* Esempio: Plum */
}

.markdown-reading-view h6 {
  color: #2744e7; /* Esempio: LightSteelBlue */
}


/* === LINK LOCALI === */
.markdown-reading-view a.internal-link {
  color: #94f1e7  !important;
}

/* === LINK ESTERNI === */
.markdown-reading-view a.external-link {
  color: #B838B3 !important;
}

/* << Reading View >> */
	.markdown-preview-view .external-link {
	color: #94f1e7;
}
	/* << Live Preview >> */
	.markdown-source-view.mod-cm6.is-live-preview .cm-link .cm-underline {
	color: #B838B3;
}